@model ResponsableEmpresaViewModel

<form role="form" id="form" method="post" asp-action="ResponsableEmpresaEdit" asp-controller="ResponsableEmpresa">

    <partial name="_ModalHeader" model="@(new ModalHeader { Heading = "Editar Responsable" })" />

    @if (Model != null)
    {
        <div class="modal-body">
            <div>
                <div class="row">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="IdEmpresa" />
                    <input type="hidden" asp-for="IdTipoUsuario" />
                    <input type="hidden" asp-for="IdRepresentante" />


                    @* <div class="form-group ">
                <label asp-for="Id"></label>
                <span asp-validation-for="Id" class="text-danger"></span>
                <select asp-for="IdiomaId" asp-items="@(new SelectList(Model.Idiomas,"Id","Nombre"))" class="form-control select2">
                <option value="-1">- Seleccionar una opción -</option>
                </select>
                </div>*@

                    @*Estos son los campos a edita*@

           @*         <div class="form-group col-lg-8">
                        <label asp-for="IdEmpresa"></label>
                        <span asp-validation-for="IdEmpresa" class="text-danger"></span>
                        <input asp-for="IdEmpresa" type="text" class="form-control  input-sm">
                    </div>

                    <div class="form-group col-lg-8">
                        <label asp-for="IdTipoUsuario"></label>
                        <span asp-validation-for="IdTipoUsuario" class="text-danger"></span>
                        <input asp-for="IdTipoUsuario" type="text" class="form-control  input-sm">
                    </div>
*@

                    <div class="form-group col-lg-8">
                        <label asp-for="Nombre"></label>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                        <input asp-for="Nombre" type="text" class="form-control  input-sm">
                    </div>

                    <div class="form-group col-lg-8">
                        <label asp-for="Apellido"></label>
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                        <input asp-for="Apellido" type="text" class="form-control  input-sm">
                    </div>


                    <div class="form-group col-lg-8">
                        <label asp-for="Email"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <input asp-for="Email" type="text" class="form-control  input-sm">
                    </div>


                    <div class="form-group col-lg-8">
                        <label asp-for="Telefono"></label>
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                        <input asp-for="Telefono" type="text" class="form-control  input-sm">
                    </div>


                    <div class="form-group col-lg-8">
                        <label asp-for="Direccion"></label>
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                        <input asp-for="Direccion" type="text" class="form-control  input-sm">
                    </div>

                   

                </div>
            </div>
        </div>
    }
    else
    {
        <text>No existe información asociada.</text>
    }


    <partial name="_ModalFooter" model="@(new ModalFooter { SubmitButtonText = "Actualizar", OnlyCancelButton = false, CancelButtonText = "Cancelar" })" />


</form>



<script type="text/javascript">

    //$('.select2').select2();

</script>

<script>
    var hablaInput = document.getElementById("hablaInput");
    var hablaValue = document.getElementById("hablaValue");
    hablaValue.innerHTML = hablaInput.value;

    hablaInput.oninput = function () {
        hablaValue.innerHTML = this.value;
    }



    var escribeInput = document.getElementById("escribeInput");
    var escribeValue = document.getElementById("escribeValue");
    escribeValue.innerHTML = escribeInput.value;

    escribeInput.oninput = function () {
        escribeValue.innerHTML = this.value;
    }


    var comprendeInput = document.getElementById("comprendeInput");
    var comprendeValue = document.getElementById("comprendeValue");
    comprendeValue.innerHTML = comprendeInput.value;

    comprendeInput.oninput = function () {
        comprendeValue.innerHTML = this.value;
    }


</script>