<div style="  display: flex; justify-content: center; ">

    
        <table style="width: 4.7e+2pt; /*background-image: url('../../css/img/marcaAgua.png');*/ border-collapse: collapse; border: none;">
            <tbody style="">
                <tr>
                    <td colspan="9" style="width:470.75pt;border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 0cm 0cm;height:14.15pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-size:16px;font-family:"Calibri",sans-serif;'>FORMULARIO DE<span style="color:black;">&nbsp;&ldquo;PAZ Y SALVO&rdquo;</span></span></strong></p>
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-size:10px;font-family:"Calibri",sans-serif;'>&nbsp;</span></strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="9" style="width:470.75pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 0cm 0cm 0cm;height:13.95pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-size:12px;font-family:  "Calibri",sans-serif;color:black;'>LUGAR Y FECHA:</span></strong><span style='font-size:12px;font-family:"Calibri",sans-serif;color:black;'>&nbsp;Riobamba,&nbsp;</span><span style='font-size:12px;font-family:"Calibri",sans-serif;color:black;'>10 de agosto de 2022</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="9" style="width:470.75pt;border:solid windowtext 1.0pt;border-top:none;background:  #AEAAAA;padding:0cm 0cm 0cm 0cm;height:14.2pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>INFORMACION GENERAL DEL SERVIDOR &nbsp;A DESVINCULARSE:</span></strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width:154.6pt;border:solid windowtext 1.0pt;border-top:none;background:  #E7E6E6;padding:0cm 0cm 0cm 0cm;height:11.05pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>APELLIDOS Y NOMBRES</span></strong></p>
                    </td>
                    <td colspan="2" style="width:90.05pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#E7E6E6;padding:0cm 0cm 0cm 0cm;height:11.05pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>C&Eacute;DULA No. </span></strong></p>
                    </td>
                    <td colspan="3" style="width:106.35pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#E7E6E6;padding:0cm 0cm 0cm 0cm;height:11.05pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>DENOMINACI&Oacute;N DEL PUESTO</span></strong></p>
                    </td>
                    <td colspan="2" style="width:119.75pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#E7E6E6;padding:0cm 0cm 0cm 0cm;height:11.05pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>UNIDAD ADMINISTRATIVA</span></strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width:154.6pt;border:solid windowtext 1.0pt;border-top:none;padding:  0cm 0cm 0cm 0cm;height:15.6pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-size:11px;font-family:"Calibri",sans-serif;'>@Model.Nombres</span></p>
                    </td>
                    <td colspan="2" style="width:90.05pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 0cm 0cm 0cm;height:15.6pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-size:11px;font-family:"Calibri",sans-serif;'>@Model.Identificacion</span></p>
                    </td>
                    <td colspan="3" style="width:106.35pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 0cm 0cm 0cm;height:15.6pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-size:11px;font-family:"Calibri",sans-serif;'>@Model.Cargo</span></p>
                    </td>
                    <td colspan="2" style="width:119.75pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 0cm 0cm 0cm;height:15.6pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:11px;font-family:"Calibri",sans-serif;'>@Model.Dependencia</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width:154.6pt;border:solid windowtext 1.0pt;border-top:none;background:  #E7E6E6;padding:0cm 0cm 0cm 0cm;height:25.7pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>CORREO PERSONAL</span></strong></p>
                    </td>
                    <td colspan="2" style="width:90.05pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#E7E6E6;padding:0cm 0cm 0cm 0cm;height:25.7pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>TEL&Eacute;ONO DE CONTACTO</span></strong></p>
                    </td>
                    <td colspan="4" style="width:176.35pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#E7E6E6;padding:0cm 0cm 0cm 0cm;height:25.7pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>MODALIDAD LABORAL</span></strong></p>
                    </td>
                    <td style="width:49.75pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#E7E6E6;padding:0cm 0cm 0cm 0cm;height:25.7pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;line-height:115%;'><strong><span style='font-size:11px;line-height:115%;font-family:"Calibri",sans-serif;color:black;'>R&Eacute;GIMEN LABORAL</span></strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width:154.6pt;border:solid windowtext 1.0pt;border-top:none;padding:  0cm 0cm 0cm 0cm;height:18.35pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-size:11px;font-family:"Calibri",sans-serif;'>@Model.CorreoPersonal</span></p>
                    </td>
                    <td colspan="2" style="width:90.05pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 0cm 0cm 0cm;height:18.35pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-size:11px;font-family:"Calibri",sans-serif;'>@Model.Telefono</span></p>
                    </td>
                    <td colspan="4" style="width:176.35pt;border-top:none;border-left:   none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 0cm 0cm 0cm;height:18.35pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><span style="color:gray;"><span style='font-size:11px;font-family:"Calibri",sans-serif;'>@Model.Cargo</span></span></p>
                    </td>
                    <td style="width:49.75pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 0cm 0cm 0cm;height:18.35pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><span style="color:gray;"><span style='font-size:11px;font-family:"Calibri",sans-serif;'>@Model.Cargo</span></span></p>
                    </td>
                </tr>
                <tr>
                    <td style="width:88.25pt;border:solid windowtext 1.0pt;border-top:  none;background:#E7E6E6;padding:0cm 0cm 0cm 0cm;height:21.3pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>FECHA DE INGRESO INSTITUCI&Oacute;N</span></strong></p>
                    </td>
                    <td colspan="3" style="width:156.4pt;border-top:none;border-left:   none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 0cm 0cm 0cm;height:21.3pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>@Model.Ingreso</span></p>
                    </td>
                    <td colspan="3" style="width:106.35pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#E7E6E6;padding:0cm 0cm 0cm 0cm;height:21.3pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>FECHA DE SALIDA DE LA INSTITUCI&Oacute;N</span></strong><span style="color:black;">&nbsp;</span></p>
                    </td>
                    <td colspan="2" style="width:119.75pt;border-top:none;border-left:   none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 0cm 0cm 0cm;height:21.3pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>@Model.Salida</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="width:244.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 0cm 0cm 0cm;height:94.75pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:justify;'><strong><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>DECLARO:</span></strong><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>&nbsp;HABER CUMPLIDO CON LOS REQUISITOS Y CON LA ENTREGA DE LOS DOCUMENTOS Y BIENES QUE ME FUERON FACILITADOS PARA EL CABAL CUMPLIMIENTO DE MIS ACTIVIDADES.</span></p>
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:justify;'><span style='font-size:11px;font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:justify;'><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>LO DECLARADO, ES CERTIFICADO POR LOS RESPONSABLES DE CADA UNIDAD ADMINISTRATIVA, SEG&Uacute;N EL DETALLE QUE A CONTINUACI&Oacute;N CONSTA EN EL PRESENTE FORMULARIO.</span></p>
                    </td>
                    <td colspan="5" style="width:226.1pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 0cm 0cm 0cm;height:94.75pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:11px;font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:11px;font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:11px;font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:11px;font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:11px;font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:11px;font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:11px;font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:11px;font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>FIRMA</span></strong></p>
                    </td>
                </tr>
                @{
                foreach (var c in @Model.Certificados)
                {

                <tr>
                    <td colspan="9" style="width:470.75pt;border:solid windowtext 1.0pt;border-top:none;background:#D0CECE;padding:0cm 0cm 0cm 0cm;height:14.1pt;">
                        <div style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;'>
                            <ol style="margin-bottom:0cm;list-style-type: decimal;">
                                <li style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;'><strong><span style='font-family:"Calibri",sans-serif;'>@c.DependenciaCertificadora</span></strong></li>
                            </ol>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width:154.6pt;border:solid windowtext 1.0pt;border-top:none;background:#E7E6E6;padding:0cm 0cm 0cm 0cm;height:14.1pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>N&uacute;mero de certificado de desvinculaci&oacute;n laboral otorgado:</span></strong></p>
                    </td>
                    <td colspan="3" style="width:176.3pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#E7E6E6;padding:0cm 0cm 0cm 0cm;height:14.1pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>Fecha de emisi&oacute;n del certificado</span></strong></p>
                    </td>
                    <td colspan="4" style="width:139.85pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#E7E6E6;padding:0cm 0cm 0cm 0cm;height:14.1pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-size:11px;font-family:"Calibri",sans-serif;color:black;'>Nombre de quien suscribe</span></strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width:154.6pt;border:solid windowtext 1.0pt;border-top:none;background:transparent;padding:0cm 0cm 0cm 0cm;height:21.0pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>@c.NumeroCertificado</span></p>
                    </td>
                    <td colspan="3" style="width:176.3pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:transparent;padding:0cm 0cm 0cm 0cm;height:21.0pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>@c.FechaCertificado</span></p>
                    </td>
                    <td colspan="4" style="width:139.85pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:transparent;padding:0cm 0cm 0cm 0cm;height:21.0pt;">
                        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>@c.Certificador</span></p>
                    </td>
                </tr>
                }
                }
                <tr>
                    <td style="border:none;"><br></td>
                    <td style="border:none;"><br></td>
                    <td style="border:none;"><br></td>
                    <td style="border:none;"><br></td>
                    <td style="border:none;"><br></td>
                    <td style="border:none;"><br></td>
                    <td style="border:none;"><br></td>
                    <td style="border:none;"><br></td>
                    <td style="border:none;"><br></td>
                </tr>
            </tbody>
        </table>
        <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-size:11px;font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
    </div>
