@model ApiViewModel
@{
    ViewBag.Title = "Datos JSON desde API";
}

<h2>@ViewBag.Title</h2>

<table border="1">
    <thead>
        <tr>
            <th>Status</th>
            <th>Total Results</th>
            <th>Articles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Apis)
        {
            <tr>
              
                <td>@item.Total</td>
                <td>@item.Limit</td>
            </tr>
        }
    </tbody>
</table>
