

<div class="row">
    <div style="border-left:0px; border-bottom:0px; padding-left:15px; padding-bottom:30px;">
        <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
            <li style="float: left;"><a style="color:#6a6c6f; display: block; text-align: center; padding: 00px 10px 00px 10px; text-decoration: none;"><i class="fa fa-user text-success">&nbsp;&nbsp;</i>Perfil</a></li>
            <li style="float: left;"><a style="color:#6a6c6f; display: block; text-align: center; padding: 00px 10px 00px 10px; text-decoration: none;"><i class="fa fa-book text-warning">&nbsp;&nbsp;</i>Capacitación</a></li>
            <li style="float: left;"><a style="color:#6a6c6f; display: block; text-align: center; padding: 00px 10px 00px 10px; text-decoration: none;"><i class="fa fa-language text-primary-2">&nbsp;&nbsp;</i>Idiomas</a></li>
            <li style="float: left;"><a style="color:#6a6c6f; display: block; text-align: center; padding: 00px 10px 00px 10px; text-decoration: none;"><i class="fa fa-flask text-success">&nbsp;&nbsp;</i>Investigación</a></li>
            <li style="float: left;"><a style="color:#6a6c6f; display: block; text-align: center; padding: 00px 10px 00px 10px; text-decoration: none;"><i class="fa fa-mortar-board text-primary">&nbsp;&nbsp;</i>Instruccion Formal</a></li>
            <li style="float: left;"><a style="color:#6a6c6f; display: block; text-align: center; padding: 00px 10px 00px 10px; text-decoration: none;"><i class="fa fa-folder-open-o text-warning">&nbsp;&nbsp;</i>Experiencia</a></li>
            <li style="float: left;"><a style="color:#6a6c6f; display: block; text-align: center; padding: 00px 10px 00px 10px; text-decoration: none;"><i class="fa fa-heartbeat text-danger">&nbsp;&nbsp;</i>Salud</a></li>
            <li style="float: left;"><a style="color:#6a6c6f; display: block; text-align: center; padding: 00px 10px 00px 10px; text-decoration: none;"><i class="fa fa-child text-primary">&nbsp;&nbsp;</i>Igualdad de Oportunidades</a></li>

        </ul>
    </div>
</div>
