
@using Unach.DA.Empleo.Presentacion.CentralAdmin.Helpers;
@model List<MenuItemViewModel>

@foreach (var menu in Model)
{
    
    if (menu.InverseIdPadreNavigation.Any())
    {
        <li class="@Html.IsSelected(controller: menu.Controlador)">
            <a href="#" aria-expanded="true"><i class='@menu.IconClass'></i><span class="nav-label">&nbsp;&nbsp;@menu.Titulo</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <partial name="_MenuPartial" model="menu.InverseIdPadreNavigation" />
            </ul>
        </li>


    }
    else
    {
        
        <li class="@Html.IsSelected(action: menu.Accion)">
            <a  asp-controller=@menu.Controlador asp-action=@menu.Accion><i class='@menu.IconClass'></i><span class="nav-label">&nbsp;&nbsp;@menu.Titulo</span></a>
        </li>
        
    }
    
}

