@page
@model RegisterModel




<div class="register-container" style="padding-top: 3% !important;">
    <div class="row">
        <div class="col-md-12">
             <div class="text-center m-b-md">

                <h5 class="font-extra-bold text-info">BIENVENIDO (A) A LA UNIVERSIDAD NACIONAL DE CHIMBORAZO</h5>
                <br>
                <p class="font-extra-bold">REGISTRO DE USUARIO</p>
                <p>Para poder utilizar los servicios del Sistema Informático de Bolsa de Empleo por favor registrate.</p>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <div id="upWizardRegistro">

                        <table cellspacing="0" cellpadding="0" id="WizardRegistro" style="border-collapse:collapse;">
                            <tbody>
                               <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    @*<div asp-validation-summary="All" class="text-danger"></div>*@
                                    <tr style="height:100%;">
                                        <td>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <label>VALIDAR IDENTIDAD DEL USUARIO</label>
                                                </div>
                                                <div class="col-md-12 text-center form-group">
                                                    Por favor ingrese la información solicitada para proceder a la validación de su identidad:
                                                </div>
                                                <div class="col-md-12 text-center">
                                                </div>
                                            </div>
                                            <div class=" row">
                                          
                                                <div class="form-group col-md-6">
                                                    <label>
                                                        <span id="LabelTipoDocumento"> Tipo Identificación:</span>
                                                    </label>
                                                    <select name="ctl00$body$WizardRegistro$DropDownListTipoDocumento" id="DropDownListTipoDocumento" class="form-control input-sm">
                                                        <option value="1">CÉDULA</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>
                                                        <span id="lblcedula"> Número de identificación:</span>
                                                    </label>
                                                    <input asp-for="Input.CI" class="form-control" maxlength="10"  placeholder="Ej. 0603685278" type="text" required="required" />
                                                    <span id="LabelCedulaError" style="color:Red;"></span>
                                                    <span id="RequiredFieldValidator1" class="failureNotification" style="color:Red;visibility:hidden;">*</span>
                                                    <span id="RegularExpressionValidator3" class="failureNotification" style="color:Red;visibility:hidden;">*</span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>
                                                        <span id="lblcorreo"> Correo Electronico:</span>
                                                    </label>

                                                <input asp-for="Input.Email" class="form-control" maxlength="50" placeholder="Ej. usuario@dominio.com" type="email" required="required" />
                                                    <span id="LabelCedulaError" style="color:Red;"></span>
                                                    <span id="RequiredFieldValidator1" class="failureNotification" style="color:Red;visibility:hidden;">*</span>
                                                    <span id="RegularExpressionValidator3" class="failureNotification" style="color:Red;visibility:hidden;">*</span>
                                                </div>


                                                <div class="form-group col-md-6">
                                                    <label>
                                                    <span id="lbltelefono"> Numero Telefono</span>
                                                    </label>

                                                <input asp-for="Input.PhoneNumber" class="form-control" maxlength="10" placeholder="Ej. 123-456-7890" type="tel" required="required" />
                                                    <span id="LabelCedulaError" style="color:Red;"></span>
                                                    <span id="RequiredFieldValidator1" class="failureNotification" style="color:Red;visibility:hidden;">*</span>
                                                    <span id="RegularExpressionValidator3" class="failureNotification" style="color:Red;visibility:hidden;">*</span>
                                                </div>


                                                <div class="form-group col-md-6">
                                                    <label>
                                                        <span id="lbllinkedin"> Linkedin:</span>
                                                    </label>
                                                <input asp-for="Input.Linkedin" class="form-control" placeholder="Ej. https://www.linkedin.com/in/alexander-guerrero-dutan-262479170" type="text" required="required" />
                                                    <span id="LabelCedulaError" style="color:Red;"></span>
                                                    <span id="RequiredFieldValidator1" class="failureNotification" style="color:Red;visibility:hidden;">*</span>
                                                    <span id="RegularExpressionValidator3" class="failureNotification" style="color:Red;visibility:hidden;">*</span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>
                                                        <span id="lblcontraseña"> Contraseña:</span>
                                                    </label>
                                                    <input asp-for="Input.Password" class="form-control" class="form-control input-sm" type="password" />
                                                    <span id="LabelCedulaError" style="color:Red;"></span>
                                                    <span id="RequiredFieldValidator1" class="failureNotification" style="color:Red;visibility:hidden;">*</span>
                                                    <span id="RegularExpressionValidator3" class="failureNotification" style="color:Red;visibility:hidden;">*</span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>
                                                        <span id="lblconfirmarcontraseña"> Confirmar contraseña:</span>
                                                    </label>
                                                <input asp-for="Input.ConfirmPassword" class="form-control" class="form-control input-sm" type="password" required="required" />
                                                    <span id="LabelCedulaError" style="color:Red;"></span>
                                                    <span id="RequiredFieldValidator1" class="failureNotification" style="color:Red;visibility:hidden;">*</span>
                                                    <span id="RegularExpressionValidator3" class="failureNotification" style="color:Red;visibility:hidden;">*</span>
                                                </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <table cellspacing="5" cellpadding="5">
                                                <tbody>
                                                    <tr>
                                                        <td align="right">
                                   
                                                            <input type="submit" class="btn btn-info btn-sm"></input>
                                                        </td>
           
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                               </form>
                            </tbody>
                        </table>
                    
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}




