@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

@*<h2>@ViewData["Title"]</h2>
<h4>Reset your password.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Reset</button>
        </form>
    </div>
</div>

*@

<div class="login-container" style="padding-top: 3% !important" ;>
    <div class=" row" ="">
        <div class="col-md-12">
            <div class="text-center m-b-md">

                <br>
                <p class="font-extra-bold">RESTABLECER LA CONTRASEñA</p>
                <p>
                    <span id="lblMenServicio">Este servicio es de uso exclusivo de los Estudiantes/Egresados de la Universidad Nacional de Chimborazo.</span>
                </p>
            </div>

            <div class="hpanel">

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <span id="uc_Login_lblMensaje" style="color:Black;"></span>
                                <div class="col-md-12">
                                    <p class="font-extra-bold">RESTABLECE TU CONTRASEñA</p>
                                    <form id="account" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input asp-for="Input.Code" type="hidden" />
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <label class="control-label">
                                        </label>

                                        <div class="form-group input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                            <input asp-for="Input.Email" class="form-control" placeholder="usuario@dominio.com" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>

                                        <div class="form-group input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-unlock-alt fa-fw"></i>
                                            </span>
                                            <input asp-for="Input.Password" class="form-control" placeholder="Contraseña" />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>


                                        <div class="form-group input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-unlock-alt fa-fw"></i>
                                            </span>
                                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirmar contraseña" />
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>

                                        <button type="submit" class="btn btn-default">Resetear</button>
                                    </form>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>


        </div>

    </div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
