@model List<EnviarCorreo>

<h2>Crear Correo Electrónico</h2>

@using (Html.BeginForm("Enviar", "EnviarCorreo", FormMethod.Post))
{
    <p>Selecciona los destinatarios:</p>
    @foreach (var usuario in Model)
    {
        <div>
            <input type="checkbox" name="destinatarios" value="@usuario.CorreoElectronico" /> @usuario.CorreoElectronico (@usuario.CorreoElectronico)
        </div>
    }

    <input type="submit" value="Enviar" />
}

